@use "variables" as *;

.cta-section {
    background-image: url('/images/topography/contour-1.png');
    background-color: $c_electric-blue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 120%, cover;

    color: $c_white;
    padding: 2.75rem 1rem 7.75rem 1rem;
    
    .container {

        @media (min-width: $mq_tablet) {
            display: grid;
            grid-template-columns: 60% 1fr;
            gap: 2rem;
        }

        @media (min-width: $mq_widescreen) {
            grid-template-columns: 50% 1fr;
        }
    }

    h2 {
        margin-bottom: 0.25rem;
    }

    .section-subheading {
        color: $c_white;
    }

    .link-button {
        border-color: $c_white;
    }
}