@use "variables" as *;

.case-study {
    .container {
        padding: 2.75rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: $mq_tablet) {
            display: flex;
            flex-direction: row;
        }
    }

    &__visual {
        position: relative;
        background-size: cover;
        width: 100%;
        aspect-ratio: 6 / 5;
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 3rem 3rem 0 3rem;
        overflow: hidden;
    }

    &__badge {
        background-color: $c_electric-blue;
        color: $c_white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: right;
        padding: 0.5rem 1rem;
        font-weight: $f_heavy;
        font-size: 1.125rem;

        a {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }

        .case-study_service-icon {
            height: 1.625rem;
            width: 1.625rem;
            fill: $c_white;
            display: inline-block;
            vertical-align: text-bottom;
            margin-left: 0.125rem;
        }
    }


    @media (min-width: $mq_tablet) {
        &__visual {
            flex: 1 1 40%;
        }
        &__content {
            flex: 1 1 60%;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
        color: $c_electric-blue;

        @media (min-width: $mq_tablet) {
            font-size: 1.75rem;
        }

        @media (min-width: $mq_widescreen) {
            font-size: 2.5rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__narrative {
        p {
            margin-bottom: 1.25rem;

            b { color: $c_navy-night; }

            &.case-study__problem,
            &.case-study__solution {
                b:first-child { color: $c_blaze-orange; }
            }
        }

    }
}

.featured-case-study {
    background-color: $c_navy-night;
    color: $c_white;

    .case-study__title { color: $c_white; }
    .case-study__narrative { margin-bottom: 2.25rem; }
}

.case_studies {
    .case-study {
        &:nth-child(even) {
            background-color: $c_powder-blue;
        }
    }
}