@use "variables" as *;

.offerings {
	&-section {
		background-color: $c_powder-blue;

		.container {
			// @media (min-width: $mq_tablet) {
			//     display: grid;
			//     grid-template-columns: 40% 1fr;
			//     gap: 2rem;
			// }
		}

		h2 { color: $c_electric-blue; }

		header {
			margin-bottom: 3rem;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		h3 {
			font-size: 1.5rem;
			font-family: $f_roboto;
			margin-bottom: 1rem;
			color: $c_navy-night;
		}

		article {
			.content {
				p {
					margin-bottom: 0.5rem;
					&:first-child {
						font-size: 1.125rem;
						font-weight: $f_bold;
						line-height: 1.2;

					}
				}
			}

			@media (min-width: $mq_tablet) {
			    display: grid;
			    grid-template-columns: 1fr 1fr;
			    gap: 2rem;
			}

			section { margin-bottom: 2rem; }
		}
	}

	&__icon {
		width: 3.5rem;
		margin-right: 1.5rem;
	}

}