@use "variables" as *;

.quotation {
  color: $c_navy-night;

  &__text {
    font-size: 1.5rem;
    font-weight: $f_bold;
    line-height: 1.125;

    em { font-style: normal; }

    @media (min-width: $mq_widescreen) {
      font-size: 2rem;
    }
  }

  &__caption {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: $f_bold;
    line-height: 1;

    @media (min-width: $mq_widescreen) {
      font-size: 1.25rem;
    }
  }

  &__author {
    font-style: normal;
  }
}

.quote-feature {
  padding: 0rem 1.25rem 2rem 1.25rem;

  .page-header + & {
    margin-top: -2rem;

    @media (min-width: $mq_tablet) {
      margin-top: 0;
    }
  }

  &__video-wrapper {
    // Modern 16:9 ratio
    aspect-ratio: 16 / 9; 
    width: 100%;
    
    iframe {
      width: 100%;
      height: 100%;
      display: block;
      border: 0;
    }
  }
}

@media (min-width: $mq_desktop) {
  .quote-feature {

    &__container {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-template-columns: 40% 1fr;
      gap: 2rem;
    }

    &.video--right {
      .quote-feature__video-wrapper { grid-column: 2; }
      .quotation { grid-column: 1; }
    }

  }

  .container--encroach {
    align-items: end;
    margin-top: -9rem;
    padding-bottom: 2rem;
  }

}

@media (min-width: $mq_widescreen) {
  .quote-feature__container {
      grid-template-columns: 50% 1fr;
    }

  .container--encroach {
    margin-top: -9rem;
    padding-bottom: 2rem;
  }

}