<section class="feature-block section-block background_{{ background }} {{ 'reverse-row' if layout == 'image-right' }}">
  <div class="container container__small">
    <img class="feature-block__image" src="{{ entry.image }}" alt="{{ entry.alt }}">
    <div class="feature-block__content">
      <h2 class="feature-block__title heading-2">{{ entry.title | safe }}</h2>
      <div class="feature-block__body">
        {% if entry.subtitle %}
          <p class="section-subheading">{{ entry.subtitle | safe }}</p>
        {% endif %}
        {% if entry.description %}
          {{ entry.description | safe }}
        {% endif %}
      </div>
      {% if entry.cta_url %}
        {% set btnText = entry.cta_text %}
        {% set btnUrl = entry.cta_url %}
        {% include "components/link-button.njk" %}
      {% endif %}
    </div>
  </div>
</section>