<a class="link-button {{ 'link-button--outline' if style == 'outline' }}" href="{{ btnUrl | default('/lets-talk/') }}">
  <span class="button__label">{{ btnText | default("Let's Talk") }}</span>
  <span class="button__icon" aria-hidden="true" focusable="false">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M4.108 10.857h15.31a1.143 1.143 0 1 1 0 2.286H4.108a1.143 1.143 0 0 1 0-2.286" clip-rule="evenodd"/><path fill="currentColor" fill-rule="evenodd" d="M11.753 19.665a1.143 1.143 0 0 1 0-1.616L17.803 12l-6.05-6.049a1.143 1.143 0 0 1 1.617-1.616L21.035 12l-7.665 7.665a1.143 1.143 0 0 1-1.617 0" clip-rule="evenodd"/></svg>
  </span>
</a>