{% set service_list = offerings.service_offerings %}
{% set data = null %}

{% for service in service_list %}
  {% if service.slug == category | lower %}
    {% set data = service %}
  {% endif %}
{% endfor %}

{% if data %}
<section class="offerings-section section-block" id="{{ data.slug }}-offerings">
  <header>
    <img class="offerings__icon" src="{{ data.icon_url }}" alt="{{ data.service }} icon" loading="lazy">
    <h2 class="heading-2">{{ data.description }}</h2>
  </header>

  <article>
    {% for item in data.offerings %}
    <section id="{{ item.id }}">
      <h3>{{ item.title }}</h3>
      <div class="content">
        <p>{{ item.heading }}</p>
        <p>{{ item.content }}</p>
      </div>
    </section>
    {% endfor %}
  </article>
</section>
{% else %}
  <!-- Debug: Could not find data for slug "{{ category }}" -->
{% endif %}