<figure class="quotation">
  <blockquote class="quotation__content">
    <p class="quotation__text">&ldquo;{{ entry.quote }}&rdquo;</p>
  </blockquote>
  <figcaption class="quotation__caption">
    &mdash; <cite class="quotation__author">{{ entry.person.name }}</cite>, 
    <span class="quotation__role">{{ entry.person.role }}</span> at 
    <span class="quotation__organization">{{ entry.person.company }}</span>
  </figcaption>
</figure>