<section class="testimonials-section section-block">
  <div class="container container__small">
    {% if testimonial_section_title %}
      <h2 class="section-title heading-2">
        {{ testimonial_section_title }}
      </h2>
    {% endif %}

    <div class="testimonials">
      {% for item in testimonials %}
        {% if item.categories.includes(testimonial_category) %}
          <blockquote id="testimonial-{{ loop.index }}" class="testimonial__item quotation__content">
            <p class="testimonial__content quotation__text">{{ item.quote | safe }}</p>
            
            <footer class="testimonial__footer">
              <cite class="testimonial__author quotation__author">
                &mdash;
                {% if item.person.name %}
                  {{ item.person.name }},
                {% else %}
                  {{ item.person.title }},
                {% endif %}
              </cite>

              <span class="testimonial__meta">
                {% if item.person.name and item.person.role %}
                  {{ item.person.role }}
                {% endif %}
                
                {% if item.source %}
                  {% if item.person.role or item.person.name %} at {% endif %} 
                  {{ item.source }}
                {% endif %}
              </span>
            </footer>
          </blockquote>
        {% endif %}
      {% endfor %}
    </div>

    <nav class="testimonial-nav slider-nav" aria-label="Testimonial navigation menu">
      <ul class="testimonial-nav__list slider-nav__list" role="list">
        {% for item in testimonials %}
          {% if item.categories.includes(testimonial_category) %}
            <li class="testimonial-nav__item">
              <a href="#testimonial-{{ loop.index }}" 
                 class="testimonial-nav__dot slider__dot" 
                 aria-label="View testimonial {{ loop.index }}"
                 aria-controls="testimonial-{{ loop.index }}">
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>