@use "variables" as *;

.leadership-section {
  background-color: $c_powder-blue;
  padding-bottom: 3rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: $mq_tablet) {
      header { max-width: 50%; }
    }
  }

  .heading-2 { color: $c_electric-blue; }

  .section-subheading { margin-bottom: 0; }
}

.leader {
  &__card {
    padding: 2rem;
    border-radius: 3rem 3rem 3rem 0;
    background-color: $c_white;

    @media (min-width: $mq_tablet) {
      padding: 4rem;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (min-width: $mq_tablet) {
      flex-direction: row;
    }
  }

  &__intro {
    position: relative;
    padding-left: 4rem;

    .quotation__content {
      &:before {
        content: "\201C";
        color: $c_blaze-orange;
        width: 3rem;
        height: 3rem;
        left: 0;
        position: absolute;
        font-size: 6rem;
        line-height: 0.75;
        font-family: 'Arial Black';
        font-weight: $f_heavy;
      }
    }

    .quotation__role {
      display: block;
      line-height: 1.25;
      margin-left: 1.875rem;
    }
  }

  &__image {
    flex: 0 0 5rem;
    width: 14rem;

    @media (min-width: $mq_tablet) {
      width: 13rem;
      flex: 0 0 13rem;
    }
  }

  &__name {
    display: block;
    color: $c_electric-blue;
    font-size: 1.5rem;
    font-family: $f_poppins;
    font-style: normal;
    font-weight: $f_bold;
    line-height: 1;
    margin: 0.75rem 0;
  }

  &__bio {
    margin-top: 1rem;
    position: relative;

    summary {
      text-align: right;
      text-transform: uppercase;
      color: $c_electric-blue;
      font-weight: $f_bold;
      font-size: 1.25rem;
      position: relative;

      &::marker {
        content: "";
        display: none;
      }

      &::-webkit-details-marker {
        display: none; // Specific fix for Safari
      }

      &:after,
      &:before {
        content: "";
        position: absolute;
        right: 7.5rem;
        background-color: currentColor;
        transition: all 200ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
      }

      // Horizontal Line (Always visible)
      &:after {
        width: 0.75rem;
        height: 0.125rem;
        top: 50%;
        transform: translateY(-50%);
      }

      // Vertical Line (The "plus" part)
      &:before {
        width: 0.125rem;
        height: 0.75rem;
        top: 50%;
        right: 7.8rem; // Adjust to center over the horizontal line
        transform: translateY(-50%);
      }
    }

    // Toggle logic for open state
    &[open] {
      summary {
        &:before {
          // Rotate or scale the vertical line to hide it, creating a minus sign
          height: 0rem;
        }
        
        &:after {
          // Optional: slight rotation or color change for the minus sign
          background-color: $c_blaze-orange; // Example brand color
        }
      }
    }

    &-content {
      p {
        margin-top: 1rem;
        &:first-child {
          font-size: 1.125rem;
          font-weight: $f_bold;
          line-height: 1.2;

        }
      }
    }
  }
}

.mission-section {
  background: $gradient-blue;
  color: $c_white;

  header {
    margin-bottom: 2rem;

    p {
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
    }

    h2 { margin-bottom: 2rem; }
  }

  .container {
    @media (min-width: $mq_tablet) {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 4rem;
    }
  }

  .values-accordion { margin-bottom: 2rem; }
}

.about__wrapper {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; // The magic line
  gap: 2rem;
  
  // Hide scrollbar for a cleaner look
  scrollbar-width: none; 
  &::-webkit-scrollbar { display: none; }
}

.about-section {
  display: flex;
  flex-direction: column-reverse;
  flex: 0 0 100%;
  padding: 2rem 0;
  scroll-snap-align: center; // Locks the card to the middle
  scroll-snap-stop: always;

  @media (min-width: $mq_tablet) {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .about__content {
    &-title {
      color: $c_electric-blue;
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1rem;

      @media (min-width: $mq_widescreen) {
        font-size: 2.75rem;
      }
    }

    p {
      margin-bottom: 1rem;

      &:last-child { margin-bottom: 0; }
    }
  }

  .about__image {
    aspect-ratio: 4/3;
    border-radius: 3rem 3rem 3rem 0;
    margin-bottom: 2rem;
    
    @media (min-width: $mq_tablet) {
      width: 40%;
      flex: 0 1 40%;
      margin-bottom: 0;
    }
  }
}