@use "variables" as *;


.homepage .page-header {
	background-image: url('/images/topography/contour-2.png'), $gradient-blue;;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 100%, contain;

	.container {
		@media (min-width: $mq_desktop) {
			display: grid;
		    grid-template-columns: 40% 1fr;
		    gap: 0;

		    .page-title,
		    .page-summary {
		        grid-column: 1; 
		      }
		}

		@media (min-width: $mq_widescreen) {
			grid-template-columns: 50% 1fr;
		}
	}
}

.page-header {
	background: $gradient-blue;
	color: $c_white;
	padding: 2rem 0;

	.container {

		@media (min-width: $mq_desktop) {
			display: flex;
			flex-direction: row;
			gap: 8rem;

			.page-title {
				flex: 1 0 40%;
			}

			.page-summary {
				flex: 1 1 60%;
			}
		}
	}
}

.page-title {
	font-size: 2.25rem;
	font-weight: $f_bold;
	margin-bottom: 1.5rem;

	@media (min-width: $mq_desktop) {
		font-size: 3rem;
	}

	@media (min-width: $mq_widescreen) {
		font-size: 3.75rem;
	}
}

.page-summary {
	font-size: 1rem;
	font-weight: $f_semibold;
	line-height: 1.625;

	@media (min-width: $mq_widescreen) {
		font-size: 1.25rem;
		// padding: 0 4rem;
	}
}
