---
layout: layouts/base.njk

seoTitle: About Us
metaDescription: P3+Uplift has become an industry leader in IT staffing, recruiting, and software development through innovation and collaboration.

title: About Us
summary: "P3+Uplift has become an industry leader in talent and tech by innovating new products and thriving on a culture of collaboration. It didn’t happen by accident."

pageClass: service
---
<header class="page-header {{ pageClass }}">
  <div class="container">
    <h1 class="page-title">{{ title }}</h1>
		<div class="page-summary">{{ summary | safe }}</div>
  </div>
</header>

<section class="about-container section-block">
  <article class="about-section">
    <div class="about__content">
      <h2>Our Origin Story</h2>
      <p>Professional Project Partners — what we affectionately now call P3 — was founded in 2003 in Des Moines, Iowa. We quickly revolutionized the staff augmentation market in the Midwest by developing quality partnerships and long-lasting relationships. We created an intimate employment process for both clients and candidates.</p>
      <p>P3’s core recruiting expertise was always in software development and product delivery, so in 2020, P3 created a subdivision called Uplift Delivery. This mighty team expanded the company’s capabilities by introducing custom software development and product delivery services.</p>
    </div>
    <img class="about__image" src="#" alt="The original garage where Professional Project Partners started" loading="lazy">
  </article>

  <article class="about-section">
    <div class="about__content">
      <h2>Our Evolution</h2>
      <p>P3+Uplift was born four years later in 2024 when P3 and Uplift Delivery officially merged their talents, creating a comprehensive “one-stop-shop” to capitalize on our diverse range of service offerings. While our roots originated in the local marketplace, over the last two decades P3+Uplift’s services have expanded across the nation.</p>
    </div>
    <img class="about__image" src="#"  alt="The previous P3 headquarters in West Des Moines"  loading="lazy">
  </article>

  <article class="about-section">
    <div class="about__content">
      <h2>Our Future</h2>
      <p>We are dedicated to revolutionizing talent and tech delivery solutions through a steadfast commitment to collaboration. The key to our growth and success isn’t complicated. It all comes down to + (plus).</p>
      <strong>Communication + Partnership + Innovation + Value</strong>
    </div>
    <img class="about__image" src="#"  alt="The current building where P3+Uplift is located in downtown Des Moines"  loading="lazy">
  </article>
</section>

<section class="leadership-section section-block">
  <div class="container__small">
    <header>
      <h2 class="heading-2">Leadership</h2>
      <p class="section-subheading">Simple things add up. P3+Uplift aims to always exceed your expectations with our top-quality work.</p>
    </header>

    <!-- Troy Krueger Profile -->
    <article id="troy-krueger" class="leader__card">
      <div class="leader__preview">
        <figure class="leader__image">
          <img src="/images/about/troy-krueger.png" alt="Troy Krueger, Founder of P3+Uplift" loading="lazy">
        </figure>
        
        <div class="leader__intro quotation">
          <blockquote class="quotation__content">
            <p class="quotation__text">People come to P3+Uplift because of the <em>quality</em> of the people and the relationships we build.</p>
            <cite class="leader__name">&mdash; Troy Krueger</cite>
          </blockquote>
          <span class="quotation__role">Founder</span>
        </div>
      </div>

      <details class="leader__bio">
        <summary>View More</summary>
        <div class="leader__bio-content">
          <p>Troy Krueger founded Professional Project Partners in 2003 because he had a passion for helping people pursue their career aspirations.</p>
          <p>As the Founder and President, he has shaped the mission of P3+Uplift to be the industry leader that it is today, guiding its methodical growth, overseeing the addition of successful new divisions, and ensuring the recruiting blueprint is always evolving in support of quality at every turn.</p>
          <p>Always emphasizing P3+Uplift’s team approach, Troy is inspired by the peers he works alongside every day, pooling unique perspectives and ideas to create a cohesive mission across the company.</p>
          <p>Troy’s leadership reinforces a people-first, value-based approach to all areas of P3+Uplift, believing that the right option isn’t always popular or the most profitable. He’s guided by the principle that the true test of a person’s character is what they do when nobody is watching.</p>
          <p>Outside of the office, Troy enjoys spending time with family, hunting, golfing, and playing soccer.</p>
        </div>
      </details>
    </article>

    <!-- Kelley McManus Profile -->
    <article id="kelley-mcmanus" class="leader__card">
      <div class="leader__preview">
        <figure class="leader__image">
          <img src="/images/about/kelley-mcmanus.png" alt="Kelley McManus, Managing Director at P3+Uplift" loading="lazy">
        </figure>
        
        <div class="leader__intro quotation">
          <blockquote class="quotation__content">
            <p class="quotation__text">In the world of software development, clients need someone they can <em>trust</em>, who won’t talk down to them. That’s P3+Uplift.</p>
            <cite class="leader__name">&mdash; Kelley McManus</cite>
          </blockquote>
          <span class="quotation__role">Managing Director of Software Development & Product</span>
        </div>
      </div>

      <details class="leader__bio">
        <summary>View More</summary>
        <div class="leader__bio-content">
          <p>Kelley McManus is a seasoned leader with over 30 years of experience in technology, delivery, product development and change.</p>
          <p>As the Managing Director at P3+Uplift, Kelley has been instrumental in driving operational excellence, fostering a culture of collaboration, and delivering impactful solutions for clients since January 2020.</p>
          <p>Kelley is the founder of Uplift Delivery, a division of P3+Uplift, a technology and software development company known for delivering high-quality code through Smart Delivery processes and a focus on UX/Design Thinking. Over the years, Kelley has had the privilege of collaborating with this talented team across several organizations, culminating in the exceptional expertise and creativity that define Uplift Delivery today.</p>
          <p>Passionate about mentoring and leadership development, Kelley thrives on empowering teams to achieve their full potential. Kelley’s deep expertise in team building and culture has also informed a long-term transition plan to focus on executive consulting, while continuing to foster growth for the P3+Uplift team.</p>
          <p>Outside of the office, Kelley and her husband love camping, traveling, and spending time with their family.</p>
        </div>
      </details>
    </article>
  </div>
</section>

<section id="mission-and-values" class="mission-section section-block">
  <div class="container__small">
    
    <header>
      <h2 class="heading-2">Mission + Values</h2>
      <p>
        P3+Uplift <em>thinks boldly and moves quickly</em>. Our mission is to empower organizations and individuals by bridging the gap between talent and technology, fostering mutually beneficial partnerships and driving sustainable growth and success.</p>
      <p>By sticking to our proven and defining qualities, P3+Uplift will reach the summit with you.</p>
    </header>

    <!-- Values Accordion -->
    <div class="values-accordion">
      
      <details class="accordion" open id="collaboration">
        <summary>Collaboration</summary>
        <div class="details-content">
          <p>We believe the best outcomes are born from diverse perspectives, shared ideas, and collective effort. We foster an environment where collaboration is the heartbeat of our organization, both within our teams and in partnership with our clients.</p>
        </div>
      </details>

      <details class="accordion" id="empowerment">
        <summary>Empowerment</summary>
        <div class="details-content">
          <p>We empower individuals to unleash their potential, take ownership of their work, and drive meaningful change. By providing the tools, support and trust needed, we enable our team members and clients to achieve their goals.</p>
        </div>
      </details>

      <details class="accordion" id="partnership">
        <summary>Partnership</summary>
        <div class="details-content">
          <p>We build lasting partnerships founded on trust, transparency, and mutual respect. We see our clients as partners on a shared journey, working together to overcome challenges and seize opportunities.</p>
        </div>
      </details>

      <details class="accordion" id="growth">
        <summary>Growth</summary>
        <div class="details-content">
          <p>We are committed to the continuous growth and development of our people, our clients, and our business. We invest in learning, innovation, and adaptability to stay at the forefront of industry trends.</p>
        </div>
      </details>

      <details class="accordion" id="success">
        <summary>Success</summary>
        <div class="details-content">
          <p>Our success is measured by the success of our clients. We are dedicated to delivering exceptional solutions and providing top-tier staffing services to ensure our clients achieve their objectives and reach new heights.</p>
        </div>
      </details>

    </div>
  </div>
</section>