---
layout: layouts/base.njk
seoTitle: Custom Software & IT Staffing
metaDescription: Tailored solutions in talent and tech for businesses nationwide.
title: Reach new heights in talent and tech.
summary: "P3+Uplift provides tailored solutions to help clients and businesses achieve their strategic goals."
pageClass: homepage
---
<header class="page-header {{ pageClass }}">
  <div class="container">
    <h1 class="page-title">{{ title }}</h1>
		<div class="page-summary">{{ summary | safe }}</div>
  </div>
</header>
<section class="quote-feature video--right">
  <div class="container__wide container--encroach quote-feature__container">
    
    <div class="quote-feature__video-wrapper">
      <iframe width="1013" height="570" src="https://www.youtube.com/embed/Bp4tI85bejo?rel=0&controls=0&modestbranding=1 " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    {% set entry = blockquotes["troy-krueger"] %}
    {% include "components/styled-quotes.njk" %}

  </div>
</section>

{% set entry = featured["service-explainer"] %}
{% set layout = "image-right" %}
{% set background = "powder-blue" %}
{% include "components/feature-block.njk" %}

{% set entry = featured["proven-experience"] %}
{% set layout = "image-right" %}
{% set background = "white" %}
{% include "components/feature-block.njk" %}

{% set section_title = "What People Say" %}
{% set category = "staffing" %}
{% include "components/testimonials.njk" %}