---
layout: layouts/base.njk

seoTitle: Contact Us about Careers & Projects
metaDescription: Ready to reach new heights? Contact us to find the right software solutions and specialized tech talent for your initative.

title: Let's Talk
summary: "Ready to reach new heights? Whether you have a few quick questions or want to sit down and hash out your thoughts on a whiteboard, we're happpy to chat. No forms. No funnels. Just email us at <b>careers@p3uplift.com</b>."

pageClass: service
tags: pages
---
<header class="page-header">
  <div class="container container__wide section-block">
    <h1 class="page-title">{{ title }}</h1>
		<div class="page-summary">{{ summary | safe }}</div>
  </div>
</header>

<section class="feature-block section-block background_white}}">
  <div class="container container__small">
    <img class="feature-block__image" src="/images/staffing_graphic.png" alt="An employee doing creative or coding work at a desk in a clean, modern office">
    <div class="feature-block__content">
      <h2 class="feature-block__title heading-2">Looking for a <em>placement?</em></h2>
      <div class="feature-block__body markdown">
          <p class="section-subheading">If you're a consultant looking for your next client placement – or a job seeker just looking to connect – email us with:</p>
          <ul>
            <li>Your full name</li>
            <li>Phone number</li>
            <li>Where you're located</li>
            <li>A copy of your resume attached</li>
          </ul>
          <p>Direct links to your online website, portfolio, or GitHub profile are also helpful.</p>
          <p><i>Email link will open your default mail app.</i></p>
          <a class="link-button external-link" href="mailto:careers@p3uplift.com?subject=Consultant%20Placement">
            <span class="button__label">Email us about a placement</span>
            <span class="button__icon" aria-hidden="true" focusable="false">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="opens in a new window" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1466 16.1613C16.1466 16.8112 16.6735 17.338 17.3233 17.338C17.9732 17.338 18.5 16.8112 18.5 16.1613L18.5 5.00001L7.33873 5C6.68886 5 6.16203 5.52682 6.16203 6.17669C6.16203 6.82657 6.68885 7.35339 7.33873 7.35339L14.4825 7.3534L5.34465 16.4913C4.88512 16.9508 4.88512 17.6958 5.34465 18.1554C5.80418 18.6149 6.54922 18.6149 7.00875 18.1554L16.1466 9.01747L16.1466 16.1613Z" fill="currentColor"></path>
                </svg>
            </span>
          </a>
      </div>
    </div>
  </div>
</section>

<section class="feature-block section-block background_powder-blue reverse-row }}">
  <div class="container container__small">
    <img class="feature-block__image" src="/images/software_graphic.png" alt="An employee doing creative or coding work at a desk in a clean, modern office">
    <div class="feature-block__content">
      <h2 class="feature-block__title heading-2">Building a <em>team</em> or <em>product?</em></h2>
      <div class="feature-block__body markdown">
          <p class="section-subheading">Share your vision with us. From there, one of our leaders will connect with you to talk about:</p>
          <ul>
            <li><b>Expanding capacity</b> with a dedicated team to keep your organization moving forward.</li>
            <li><b>Exploring new ideas</b> and mitgating risk through rapid prototypes and concept testing.</li>
            <li><b>Scaling your team</b> with the tech talent and leadership your company needs.</li>
          </ul>
          <p><i>Email link will open your default mail app.</i></p>
          <a class="link-button external-link" href="mailto:careers@p3uplift.com?subject=Project%20Inquery">
            <span class="button__label">Email us about a project</span>
            <span class="button__icon" aria-hidden="true" focusable="false">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="opens in a new window" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1466 16.1613C16.1466 16.8112 16.6735 17.338 17.3233 17.338C17.9732 17.338 18.5 16.8112 18.5 16.1613L18.5 5.00001L7.33873 5C6.68886 5 6.16203 5.52682 6.16203 6.17669C6.16203 6.82657 6.68885 7.35339 7.33873 7.35339L14.4825 7.3534L5.34465 16.4913C4.88512 16.9508 4.88512 17.6958 5.34465 18.1554C5.80418 18.6149 6.54922 18.6149 7.00875 18.1554L16.1466 9.01747L16.1466 16.1613Z" fill="currentColor"></path>
                </svg>
            </span>
          </a>
      </div>
    </div>
  </div>
</section>